footer.footer
  .footer__logo
    a(href='/')
      img(src='/img/logo-green.png' alt='Natours logo')
  ul.footer__nav
    li: a(href='https://github.com/ManishBisht17' target='_blank') GitHub
    li: a(href='https://www.linkedin.com/in/manish-singh-bisht-862b6829b/' target='_blank') LinkedIn
    
  p.footer__copyright &copy; by Manish Bisht. All rights reserved.